strong {
    font-weight: bold;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"] {
    padding: 0.5rem 0.75rem;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #dadada;
    font-size: 1rem;
}

input[type="text"].input-error {
    border: 1px solid red;
    background: rgb(249, 230, 230);
}

::placeholder {
    color: lightgray;
}

.main-header {
    margin: 2rem 0;
    text-align: center;
}

.header {
    /* margin-top: 5rem; */
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: grey;
}

.title {
    color: darkgray;
    font-weight: bold;
    margin: 1rem 0 .5rem;
}

.logo {
    width: 200px;
}

.marker {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -1rem;
}

.hr {
    border-top: 1px solid #dadada;
    width: 250px;
    margin: 3rem auto;
}

.info {
    margin-top: 1rem;
    color: #262626;
    display: inline-block;
    border-top: 1px solid #dadada;
    padding-top: 1rem;
}

.info span {
    padding: 0 1rem;
    border-right: 1px solid grey;
}

.info span:last-child {
    border: 0;
}

.photo-placeholder {
    width: 100%;
    height: 400px;
    background-color: grey;
    color: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.center {
    margin: 0 auto;
    padding: 0 .75rem;
    max-width: 600px;
}

.counter strong {
    font-size: 1.25rem;
}

.map {
    margin-top: 2rem;
}

form {
    border: 1px solid #ebebeb;
    background: #f9f9f9;
    border-radius: 5px;
    padding: 0 2rem 2rem;
    box-shadow: 0 10px 10px 5px rgba(200,200,200,0.3);
}

@media (max-width: 600px) {
    form {
        padding: 0 1.5rem 1.5rem;
    }
}

form div {
    margin: 2rem 0;
}

form label {
    display: block;
}

.guest-list {
    margin-top: 2rem;
}

.guest-side table {
    width: 100%;
    margin-top: 1rem;
}

.guest-side table td {
    padding: 1rem;
}

.guest-list li {
    list-style: none;
    margin-right: 1rem;
}

.guest-list .not-attend {
    color: grey;
}

.guest-side {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ebebeb;
}

.tr-head {
    background-color: #ebebeb;
}

.tag {
    margin-bottom: .5rem;
}

.error {
    font-size: 0.75rem;
    margin-top: 1rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.error-box {
    background: rgb(249, 230, 230);
    border-radius: 4px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.message-box {
    background: rgb(216, 250, 227);
    border-radius: 4px;
    color: rgb(25, 135, 78);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

input[type="radio"] {
    margin-right: .5rem;
}

input[type="submit"] {
    width: calc(202px + 1rem);
    padding: .75rem .5rem;
    background-color: #85af4b;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="submit"]:hover {
    background-color: #779e3f;
}

input[type="submit"]:disabled {
    background: gray;
    cursor: not-allowed;
}

.Registry-list {
    margin-top: 1rem;
}

.Registry-list li {
    margin: .5rem 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.icon-link {
    margin-left: 0.2rem;
}

footer {
    margin-top: 5rem;
    background: gray;
    color: white;
    padding: .5rem .75rem;
    font-size: .75rem;
}